* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/178/677/large_2x/peaceful-mountain-panorama-landscape-in-monochromatic-flat-illustration-vector.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.TodoApp {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
}

.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#taskInput {
    flex: 1;    
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgb(191, 255, 184);
    color: rgb(110, 110, 255);
}

::placeholder {
    color: rgb(110, 110, 255);
}

#addTask {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(191, 255, 184);
    border: none;
    transition: all 0.2s ease;
    color: rgb(110, 110, 255);
}

#addTask:hover {
    border: 1px solid rgb(0, 84, 17);
    transform: scale(1.1);
     color: rgb(0, 84, 17);
}

.todoCont {
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskList {
    width: 100%;
    overflow: auto;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(191, 255, 184);
    padding: 8px 10px;
    border-radius: 30px; 
    color: rgb(110, 110, 255);
    position: relative;
    transition: box-shadow 0.2s ease;
    overflow: auto;
}

li:hover {
    
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkbox {
    min-width: 20px;
    height: 20px;
    border: 1px solid rgb(110, 110, 255);
    background: transparent;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2 ease;
}
.checkbox:hover {
    transform: scale(1.1); 
}

.checkbox:checked::after {
    color: rgb(110, 110, 255);
    content: '✔';
    display: flex;
    align-items: center;
    justify-content: center; 
}

span {
    margin-left: 10px;
    word-wrap: break-word;
} 
.deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    cursor: pointer;
    transition: all 0.2s ease;
    color: rgb(183, 0, 0);
}
.deleteButton:hover {
    transform: scale(1.1); 
}

#taskList li.completed span{
    color: rgb(255, 0, 217);
    text-decoration: line-through;

}
